.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flexMe{
  display: flex;
  align-items: center;
}

.svgies:hover{
  filter: invert(0.4) sepia(0.5) saturate(20) hue-rotate(0deg) brightness(0.87);
  cursor: pointer;
}

.pointMe{
  cursor: pointer;
}

.centerMeVertical{
  display: flex;
  align-items: center;
}


@media (min-width: 500px) {
  .mobile{
    display: none !important;
  }

  
}



@media (max-width: 500px) {
  /* active when mobile width*/
  .mobile1{
    display: none !important;
  }

  .gear-img {
    background-image: url('../public/assets/mobile/image-best-gear.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 10px;
  }
}


@media (min-width: 920px) {
    /* 780--> active */
  .gear-img {
    background-image: url('/assets/desktop/image-best-gear.jpg');
    height: 80.44vh;
    width: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 10px;
  }
  
  .mobile{
    display: none !important;
  }
}

@media (max-width: 920px) {
  /* activate<-- 780 */
  .desktop{
    display: none !important;
  }
}

.imgBorder img{
  border-radius: 10px;
}

@media (max-width: 920px) and (min-width: 500px){
  /* 500-->activate<--780 */
  .gear-img {
    background-image: url('../public/assets/tablet/image-best-gear.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 10px;
  }
}


@media (min-width: 920px) , (max-width: 500px){
  /* act<--500 700-->act*/
  .tablet{
    display: none !important;
  }
}


@media (max-width: 920px) and (min-width: 500px){
  /* 500-->activate<--780 */
  
  
}


@media (min-width: 500px) {
  /* active when mobile width*/
  
}
